.Apartment{
    max-width:1024px;
    margin:1em auto;

}
.card {
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;

}

