/* .Apartment{
    max-width:1024px;
    margin:1em auto;

} */


.apartment_photo{
    object-fit:cover;
    object-fit:50% 50%;
    justify-self: center;
}

.h2 {
    justify-self: center;
    align-self: center;
}
