.header {
    background-color:rgb(105, 35, 35);
    display:grid;
    grid-template-columns: 1fr 1fr;

}
.logo {
    width:400px;
    height:100px;
}

.navigation{
    justify-self: end;
    align-self: end;
    display: flex;
}

.navigation a {
    display:block;
    padding:12px;
    text-decoration:none;
    color:rgb(233, 198, 202);

}

.navigation a:hover{
    color:white;
    background-color:#555;
}

.navigation a.active {

    
    background-color: rgb(112, 76, 76);
    color: black;
}