.header {
    background-color:rgb(53, 161, 161);
    display:grid;
    grid-template-columns: 1fr 1fr;

}
.logo {
    width:140px;
    height:100px;
}

.navigation{
    justify-self: end;
    align-self: end;
    display: flex;
}

.navigation a {
    display:block;
    padding:12px;
    text-decoration:none;
    color:rgb(102, 49, 25);

}

.navigation a:hover{
    color:white;
    background-color:rgb(163, 91, 43);
}

.navigation a.active {

    font-weight: bold;
}