.website {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: rgb(241, 240, 240);
}

.card {
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    
 } 
 /* .content {
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    
 } */