.website {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: rgb(230, 219, 219);
}
/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-width: 2000px;
} */
